* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Kabel;
  src: url("/Core2Interaction/Shadows/fonts/KabelLTStd-Light.otf");
}

html {
  font-family: Kabel;
  font-size: 62.5%;
  color: rgb(151, 149, 182);
}

body {
  width: 100vw;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #03001b;
  padding-top: 5vh;
}

p {
  font-weight: 400;
  font-size: 2em;
  text-align: justify;
  width: 24em;
  text-align: center;
}

h2 {
  font-family: Kabel;
  font-size: 3.6em;
  font-weight: 100;
  text-transform: uppercase;
}

.container {
  height: 15vw;
  overflow: scroll;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    #070328,
    #050120 25%,
    #050120 75%,
    #070328
  );
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  width: auto;
  height: auto;
  margin-bottom: 4em;

  transition: 0.5s;
  opacity: 0;
  filter: blur(10px);
}

/* RESPONSIVE ADAPTATION */

@media only screen and (max-width: 850px) {
  body {
    justify-content: start;
    gap: 5vh;
    margin-top: 10vh;
  }

  .container,
  .item {
    height: 20vh;
  }
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 2vh;
  }

  p {
    width: 80%;
  }

  .container,
  .item {
    height: 20vh;
  }
}
