p {
  font-family: "Jacques Francois", serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  width: 320px;
  text-align: center;
}

body {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

img {
  width: 10px;
  height: auto;
}

button:hover {
  transform: translateY(8px);
}

button:active {
  transform: translateY(5px);
}
