* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Kabel;
  src: url("/Core2Interaction/Shadows/fonts/KabelLTStd-Light.otf");
}

html {
  font-family: Kabel;
  font-size: 62.5%;
  color: rgb(151, 149, 182);
}

body {
  width: 100vw;
  position: relative;
  background-color: #03001b;
}

p,
span {
  font-weight: 400;
  font-size: 2em;
  text-align: justify;
}

.first_text {
  width: 24em;
  height: 23em;
  overflow: scroll;

  position: absolute;
  left: 14em;
  top: 8em;

  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    #03001b 20%,
    #03001b 80%,
    transparent 95%
  );
}

.first_text > p,
.second_text > p {
  margin-top: 2em;
  margin-bottom: 9em;
}

.second_text {
  background-color: #03001b;
  padding: 2em;
  width: 40em;
  height: 18em;
  overflow: scroll;

  position: absolute;
  left: 25em;
  top: 14em;

  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    #03001b 20%,
    #03001b 80%,
    transparent 95%
  );
}

.third_text {
  background: linear-gradient(to bottom, #0a052b, #03001b, #0a052b);
  padding: 2em;
  height: 12em;
  overflow-x: scroll;

  position: absolute;
  left: 0em;
  top: 55em;
}

.third_text > p {
  width: 140%;
  overflow-x: scroll;
  margin-top: 0.3em;
}

.bigger_text {
  position: absolute;
  top: 60em;
  left: 50%;
  width: 80%;
  transform: translate(-50%, 50%);
}

.bigger_text > p {
  font-size: 3.2em;
  color: rgb(33, 30, 62);
  margin-bottom: 7em;
}

.words {
  font-size: 1em;
  transition: color 0.5s ease;
}

/* BUTTONs */

@keyframes enlarge {
  0% {
    transform: scale(1.1);
    opacity: 0.2;
  }

  100% {
    transform: scale(1.35);
    opacity: 1;
  }
}

.button_container {
  position: absolute;
  right: 0;
  bottom: 10vw;

  background-color: aqua;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button,
.outline {
  width: 2.5vw;
  height: 2.5vw;
  border-radius: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  background-color: rgb(151, 149, 182);
}

.outline {
  outline: solid 1px rgb(151, 149, 182);
  animation: 1.8s infinite alternate enlarge linear;
}

.arrows {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4em;
  width: 25%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
}

.arrow {
  width: 50%;
  height: auto;
  opacity: 0;
  filter: blur(10px);
  transition: 0.5s ease;
}

/* RESPONSIVE ADAPTATION */

@media only screen and (max-width: 850px) {
  .third_text {
    top: 50em;
  }

  .third_text > p {
    width: 250%;
  }

  .bigger_text {
    top: 50em;
  }

  .arrows {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .first_text {
    width: 70%;
    height: 20em;

    left: 10%;
    top: 5em;
  }

  .second_text {
    width: 65%;
    height: 25em;

    left: 20%;
    top: 13em;
  }

  .third_text > p {
    width: 500%;
  }

  .bigger_text {
    top: 30em;
  }

  .bigger_text > p {
    font-size: 2.8em;
  }

  .arrows {
    gap: 5vw;
  }
  .arrow {
    width: 50vw;
  }
}
