/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Base Styles */
html {
  color: black;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: fit-content;
}

/* Typography */
h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

.description {
  font-size: 1.5rem;
  line-height: 2rem;
  width: 80%;
}

a,
.capitalised {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* Header */
.menu {
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
}

button {
  border: none;
  background-color: transparent;
  width: 8vw;
}

#home {
  width: 8rem;
  height: auto;
  transition: 0.3s;
}

#home:hover {
  transform: scale(105%);
}

#home:active {
  transform: scale(95%);
}

/* Body */
.body {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

.center {
  width: 50vw;
  text-align: center;
}

.categories {
  display: grid;
  width: 60vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 15vh;
  row-gap: 5vh;
}

.color {
  width: 3rem;
  height: 3rem;
  border: 1.5px solid black;
}

/* Category Styles */
#KW {
  background-color: #760909;
}

#KWh {
  background-color: #e5c682;
}

#Therms {
  background-color: #5b198e;
}

#mmBTUs {
  background-color: #0d2769;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 0.5rem;
}

#scroll {
  margin: 0 auto;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

#scroll img {
  width: 6rem;
  height: auto;
}

#scroll:hover {
  transform: translateY(5%);
}

/* Infographic */
.graphic {
  margin-top: 40vh;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  position: relative;
}

.area_filter {
  position: absolute;
  transform: translate(-50%, 0);
  top: 5rem;
  left: 50%;
  display: flex;
  width: 80vw;
  justify-content: space-between;
  z-index: 100;
}

.area {
  width: 18rem;
  height: 5rem;
  padding: auto;
  background-color: transparent;
  transition: 0.3s;
  border-radius: 1rem;
  border: 0 solid black;
}

.area:hover {
  cursor: pointer;
}

.area.active {
  border: 1.5px solid black;
}

#background {
  width: 100vw;
  height: fit-content;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 5rem;
  left: 50%;
  pointer-events: none;
}

#background_mobile {
  display: none;
}

/* Building Graphics */

/* First building */
.first_building_container {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 2rem;
  left: 39%;
  width: 12.7vw;
  height: fit-content;
}

.first {
  position: relative;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 12.7vw;
  height: 32.8vw;
}

#first_building {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

#first_rec {
  position: absolute;
  width: 90%;
  height: 87%;
  transform: translate(-50%, 0);
  bottom: 6%;
  left: 50%;
}

#first_color {
  position: absolute;
  width: 90%;
  height: 55%;
  transform: translate(-50%, 0);
  bottom: 31%;
  left: 50%;
  background-color: #760909;
}

/* Second building */

.second_building_container {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 2rem;
  left: 54%;
  width: 10.4vw;
  height: fit-content;
}

.second {
  position: relative;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 10.4vw;
  height: 27.5vw;
}

#second_building {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

#second_rec {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 4%;
  left: 69%;
  width: 53%;
  height: 92%;
}

#second_color {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 35.5%;
  left: 50%;
  width: 80%;
  height: 48%;
  background-color: #e5c682;
}

/* Third building */

.third_building_container {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 2rem;
  left: 70%;
  width: 15.9vw;
  height: fit-content;
}

.third {
  position: relative;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 15.9vw;
  height: 32.7vw;
}

#third_building {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

#third_rec {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 1%;
  left: 50%;
  width: 11.8vw;
  height: 21.9vw;
}

#third_color {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 26%;
  left: 50%;
  width: 80%;
  height: 59%;
  background-color: #5b198e;
}

/* Fourth building */

.fourth_building_container {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 2rem;
  left: 88%;
  width: 13.9vw;
  height: fit-content;
}

.fourth {
  position: relative;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 13.9vw;
  height: 35.8vw;
}

#fourth_building {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
}

#fourth_rec {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 5%;
  left: 50%;
  width: 14.3vw;
  height: 24vw;
}

#fourth_color {
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 31%;
  left: 50%;
  width: 90%;
  height: 55%;
  background-color: #0d2769;
}

/* Numeric values */

#KW_value,
#KWH_value,
#THERMS_value,
#TOTAL_value {
  text-align: center;
  margin-bottom: 1rem;
}

/* List */
#buildingList {
  position: absolute;
  bottom: 10rem;
  left: 6rem;

  width: 20vw;
  height: 50vh;
  padding: 1.5rem 0;
  overflow-y: scroll;

  background-color: #ffffff8a;
  border-radius: 1.5rem;
  border: 1.5px solid black;
  backdrop-filter: blur(0.1rem);
}

#buildingList li {
  padding: 1rem 2.5rem;
  list-style: none;
  color: black;
}

li a {
  font-size: 2.8rem;
}

#buildingList li:hover {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  pointer-events: none;
  display: none;
}

.first:hover .tooltip,
.second:hover .tooltip,
.third:hover .tooltip,
.fourth:hover .tooltip {
  display: block;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }

  p {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .description {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  a,
  .capitalised {
    font-size: 3.6rem;
  }

  .categories_item .capitalised {
    font-size: 2.8rem;
  }

  .body {
    min-height: 80vh;
    gap: 8vh;
  }

  .center {
    width: 80vw;
  }

  .categories {
    width: 90vw;
    column-gap: 3vh;
    row-gap: 3vh;
  }

  .graphic {
    margin-top: 5vh;
    width: 100vw;
  }

  .area_filter {
    width: 30vw;
    height: 20vh;
    flex-wrap: wrap;
  }

  .area {
    width: 100%;
    height: 5rem;
  }

  #buildingList {
    transform: translate(-50%, 0);
    top: 28vh;
    left: 50%;

    width: 70vw;
    height: 20vh;
    padding: 1.5rem 0;

    text-align: center;
  }

  li a {
    font-size: 3.4rem;
  }

  .first_building_container {
    bottom: 5rem;
    left: 13%;
    width: 22vw;
  }

  .first {
    width: 22vw;
    height: 56.7vw;
  }

  .second_building_container {
    bottom: 5rem;
    left: 34%;
    width: 17.9vw;
  }

  .second {
    width: 17.9vw;
    height: 48.6vw;
  }

  .third_building_container {
    bottom: 5rem;
    left: 58%;
    width: 27.4vw;
  }

  .third {
    width: 27.4vw;
    height: 56.4vw;
  }

  .fourth_building_container {
    bottom: 5rem;
    left: 86%;
    width: 23.9vw;
  }

  .fourth {
    width: 23.9vw;
    height: 61.7vw;
  }

  #background {
    display: none;
  }

  #background_mobile {
    display: block;
    position: absolute;
    width: 100vw;
    transform: translate(-50%, 0);
    bottom: 15rem;
    height: fit-content;
    left: 50%;
    pointer-events: none;
  }
}
