/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* Base Styles */
html {
  color: black;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  position: relative;
}

/* Typography */
h1 {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;
}

p {
  font-family: "Alata", sans-serif;
  font-size: 2rem;
  line-height: 2.5rem;
}

a {
  font-family: "Amatic SC", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  font-size: 3.7rem;
}

/* Header */
.menu {
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 6rem;
}

/* Body */
.body {
  width: 100vw;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.center {
  width: 45vw;
  text-align: center;
}

.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.numbers_item {
  width: 10vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.illustration {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 3%;
}

#city {
  width: 100%;
  height: auto;
}

#taxi {
  transform: translate(-50%, 0);
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 12rem;
  height: auto;
  animation: taxi 10s infinite linear;
}

@keyframes taxi {
  from {
    left: -15%;
  }
  to {
    left: 120%;
  }
}

/* Button */
button {
  background-color: transparent;
  border: none;
  width: fit-content;
}

#home {
  width: 8rem;
  height: auto;
  transition: 0.3s;
}

#home:hover {
  transform: scale(105%);
}

#home:active {
  transform: scale(95%);
}

.button {
  width: 20rem;
  height: 6rem;
  padding: auto;
  border-radius: 1.5rem;
  border: 1.5px solid black;
  background-color: transparent;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.076);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }

  .body {
    padding-top: 15rem;
  }

  .center {
    width: 70vw;
  }

  .numbers {
    gap: 2rem;
  }

  .numbers_item {
    width: 24vw;
  }

  #city {
    width: 180%;
    height: auto;
  }

  #taxi {
    animation: taxi 6s infinite linear;
  }
}
