* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Kabel;
  src: url("/Core2Interaction/Shadows/fonts/KabelLTStd-Light.otf");
}

@font-face {
  font-family: Kabel_regular;
  src: url("/Core2Interaction/Shadows/fonts/KabelLTStd-Book.otf");
}

html {
  font-family: Kabel;
  font-size: 62.5%;
  color: rgb(151, 149, 182);
}

body {
  width: 100vw;
  position: relative;
  background-color: #03001b;
  scroll-behavior: smooth;
}

p {
  font-weight: 400;
  font-size: 2em;
  text-align: justify;
  margin-top: 2em;
  margin-bottom: 7em;
}

.first_text {
  width: 48em;
  height: 25em;
  overflow: scroll;

  position: absolute;
  left: 53em;
  top: 2em;

  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    #03001b 20%,
    #03001b 80%,
    transparent 95%
  );
}

.second_text {
  padding: 2em;
  background-color: #03001b;
  width: 40em;
  height: 20em;
  overflow: scroll;

  position: absolute;
  left: 16em;
  top: 13em;

  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    #03001b 20%,
    #03001b 80%,
    transparent 95%
  );
}

.second_text > p {
  font-family: Kabel_regular;
  font-weight: 600;
}

.third_text,
.fourth_text {
  padding: 2em;
  background-color: #03001b;
  width: 23em;
  height: 23em;
  overflow: scroll;

  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 5%,
    #03001b 20%,
    #03001b 80%,
    transparent 95%
  );
}

.third_text {
  position: absolute;
  left: 40em;
  top: 25em;
}

.fourth_text {
  position: absolute;
  left: 65em;
  top: 25em;
}

.arrow {
  width: auto;
  height: auto;
  transform: translate(-50%, 50%);
  position: fixed;
  bottom: 4em;
  left: 50%;
  transition: 0.5s;
  opacity: 0;
  filter: blur(10px);
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
}

.window {
  width: 110vw;
  height: 110vh;
  top: -5vh;
  left: -5vw;
  overflow: hidden;
  position: relative;
  opacity: 0.5;
  filter: blur(5px);
}

#lefttop {
  height: 45%;
  width: 15%;
  background-color: rgb(40, 37, 69);

  position: absolute;
  top: 0%;
  left: 65%;
}

#righttop {
  height: 45%;
  width: 15%;
  background-color: rgb(40, 37, 69);

  position: absolute;
  top: 0%;
  left: 85%;
}

#leftbottom {
  height: 35%;
  width: 15%;
  background-color: rgb(40, 37, 69);

  position: absolute;
  top: 50%;
  left: 65%;
}

#rightbottom {
  height: 35%;
  width: 15%;
  background-color: rgb(40, 37, 69);

  position: absolute;
  top: 50%;
  left: 85%;
}

/* RESPONSIVE ADAPTATION */

@media only screen and (max-width: 850px) {
  .first_text {
    width: 38em;
    height: 30em;

    left: 40%;
    top: 10em;
  }

  .second_text {
    width: 30em;
    height: 25em;

    left: 7%;
    top: 20em;
  }

  .third_text {
    width: 20em;
    height: 25em;

    left: 20%;
    top: 38em;
  }

  .fourth_text {
    width: 20em;
    height: 25em;

    left: 50%;
    top: 38em;
  }

  .arrow {
    bottom: 10vh;
  }
}

@media only screen and (max-width: 600px) {
  .first_text {
    width: 65%;
    height: 30em;

    left: 25%;
    top: 4em;
  }

  .second_text {
    width: 55%;
    height: 23em;

    left: 2%;
    top: 18em;
  }

  .third_text {
    width: 35%;
    height: 20em;

    left: 10%;
    top: 35em;
  }

  .fourth_text {
    width: 35%;
    height: 20em;

    left: 50%;
    top: 35em;
  }
}
