* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Kabel;
  src: url("/Shadows/fonts/KabelLTStd-Light.otf");
}

@font-face {
  font-family: Kabel_regular;
  src: url("/Shadows/fonts/KabelLTStd-Book.otf");
}

html {
  font-family: Kabel;
  font-size: 62.5%;
  color: white;
  background-color: #000000;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

p {
  font-weight: 400;
  font-size: 2.4em;
  text-align: justify;
}

span {
  font-family: Kabel_regular;
  text-transform: uppercase;
  z-index: 10;
}

.icon {
  width: 5em;
  height: auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.slider {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translate(-50%, 100%);
  top: 0;
  left: 50%;

  background-color: #424242;
  border-bottom: 1.5px solid white;
}

.container {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 35vh;

  display: flex;
  justify-content: center;
  gap: 3vw;
  height: fit-content;
}

.small_text {
  width: 20vw;
}

.big_text {
  width: 25vw;
}

.line {
  width: 1.5px;
  background-color: white;
  height: fill;

  z-index: 4;
}

.arrow {
  width: auto;
  height: auto;

  position: fixed;
  bottom: 5rem;
  right: 50%;
  transform: translate(50%, -50%);

  transition: 0.5s;
  opacity: 0;
  filter: blur(10px);
}
